<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <title>Word Search</title>
</head>
<body>
  <h1>Word Search</h1>
  <p>Search any sentence for instances of a word.</p>
  <form action="">
    <div class="form-group">
      <label for="sentence">What sentence would you like to search for matches?</label>
      <input id="sentence" name="sentence" type="text" class="form-control">
    </div>
    <div class="form-group">
      <label>What word would you like to search your sentence with?</label>
      <input id="word" name="word" type="text" class="form-control">
    </div>
    <button type="submit" class="btn">Search</button>
  </form>
</body>
</html>
